body{
  font-family: 'Slabo 27px', serif;
  margin: 0px;
  background-image: url("../public/img/pattern.jpg");
}
h1{
  text-align: center;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

form{
  text-align: center;
}

label{
  font-weight: bold;
  margin-right: 10px;
}
  header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}
